* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.mainColor {
    background-color: #4E0077;
}

.containerHeader {
    height: 170px;
    display: flex;
    margin-bottom: -100px;
}

.headerTitle {
    padding: 1.5rem;
}

.titleForms {
    font-size: 1.5rem;
    color: #4E0077;
    text-align: center;
}

.iconInput {
    color: #4E0077;
}

.textForm {
    color: grey;
    font-size: 0.9rem;
}

.headerValue {
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.headerSubTitle {
    color: white;
    font-size: 0.7rem;
    text-align: center;
}

.colorTop {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.menuColor {
    height: 60px;
    align-items: end;
}

.menuColor img {
    height: 8px;
}

.buttonSubmit {
    color: white;
    padding: 0.7rem;
    border: none;
    width: 100%;
}


.head-data {
    display: flex;
    justify-content: center;
    gap: 10%;
    background-color: #4E0077;
    color: white;
    height: 120px;
    padding-top: 2em;
    margin-bottom: -40px;
}

.form-container {
    margin: 10px 20px 20px 20px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.head-data-title {
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 0px;
}

.head-data-subtitle {
    font-size: 0.9em;
    margin-top: 0px;
    text-align: center;
}

.title-form {
    color: #4E0077;
    text-align: center;
    font-size: 1.3em;
}

.text-form {
    font-size: 0.9em;
    text-align: center;
    color: rgb(97, 97, 97);
    margin-bottom: 30px;
}

.inputs-flex {
    display: flex;
}

.btn-next {
    background-color: #4E0077;
    text-align: center;
    color: white;
    width: 100%;
    padding: 15px 30px;
    margin-top: 8px;
    border: none;
}

.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 100%;
    background-color: white;
}

.titulo-bloque {
    text-align: center;
    font-size: 1em;
    font-weight: 600;
}

.bloque-data {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 1.4em;
}

h3 {
    line-height: 1px;
    font-size: 0.8em;
}

h4 {
    line-height: 20px;
    font-size: 1em;
}

.resultados {
    display: flex;
    justify-content: space-between;
}

.titulo-total {
    text-align: right;
    font-size: 1em;
    font-weight: 600;
    color: #4E0077;
}

.texto-aclaracion {
    text-align: justify;
    padding: 2em;
    font-size: 0.7em;
}

.mainColor {
    background-color: #4E0077;
}

.secondaryColor {
    background-color: #EA7A15;
}